/*
 * buttons
 *
 ************************************************************************************************/

.btn {
    @include line-height(18, 18);
    @include font-size(18);

    box-shadow: none;
    display: inline-block;
    margin: 0 auto;
    border: 0;
    padding: 12px 18px;
    min-width: 140px;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color $transition-duration;
    cursor: pointer;

    @media (min-width: $screen-sm-min) {
        @include line-height(21, 21);
        @include font-size(21);

        padding: 16px 24px;
    }

    // universal focus/hover state
    &:focus,
    &:hover {
        text-decoration: none;
        transform: translateY(5px);
    }

    // primary button treatment
    @include bem-m('primary') {
        border: 2px solid color(neutral, dark);
        background-color: color(default, white);
        color: color(accent, warm);
        transition: transform $transition-duration;

        &:focus,
        &:hover { }
    }

    // BUTTON disabled state
    @include bem-m('disabled') {
        color: color(neutral);
        pointer-events: none; /* disables the BUTTON */
        opacity: .6;
    }
}

.list-btns {

    li {
        margin-top: 24px;

        @media (min-width: 480px) {
            display: inline-block;
            margin-top: 0;
            margin-left: 24px;
        }
    }
}
