.u-icon-email-dims {
	width: 32px;
	height: 32px;
}

.u-icon-facebook-dims {
	width: 32px;
	height: 32px;
}

.u-icon-instagram-dims {
	width: 32px;
	height: 32px;
}

.u-icon-twitter-dims {
	width: 32px;
	height: 32px;
}

