/*
 * brand logo
 *
 ************************************************************************************************/

.hero-logo {
    margin: $grid-vertical-padding 0;
    max-width: 100%;
    height: auto;
}
