/*
 * organizers
 *
 ************************************************************************************************/

.organizer {

    @include bem-e('container') {

        @media (min-width: 620px) {
            margin-top: 60px;
            transform: rotate(3deg);
        }

        @media (min-width: 900px) {
            margin-top: 0;
        }
    }

    @include bem-e('list') {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;

        @media (max-width: 619px) {
            margin: 0 auto;
            max-width: 250px;
        }
    }

    @include bem-e('item') {
        display: flex;
        align-items: center;
        margin-top: 0;
        width: 100%;
        text-align: left;

        @media (max-width: 619px) { margin-top: 30px; }

        &:first-child { margin-top: 0; }

        @media (min-width: 620px) { width: 50%; }

        @media (min-width: 900px) and (max-width: $screen-sm-max) {
            margin-top: 30px;
            width: 100%;
        }

        &:nth-child(n+3) {

            @media (min-width: 620px) and (max-width: 899px) { margin-top: 30px; }

            @media (min-width: $screen-md-min) { margin-top: 30px; }
        }
    }

    @include bem-e('headshot') { max-width: 75px; }

    @include bem-e('detail') {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: $base-margin;
    }

    @include bem-e('name') { display: block; }
}
