/*
 * quote
 *
 ************************************************************************************************/

.quote {

    @include bem-e('container') {
        position: relative;
        max-width: $screen-sm-min;
        margin-right: auto;
        margin-left: auto;
        padding: 0 $grid-horizontal-padding;

        &::before {
            position: absolute;
            top: -10px;
            left: -15px;
            background: url('../images/quote.svg') no-repeat 0 0;
            width: 82px;
            height: 61px;
            opacity: .25;
            content: "";
        }
    }

    @include bem-e('text') {
        @include font-size(48);
        line-height: 1;

        position: relative;
        font-family: $brand-font;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            @include font-size(60);
            @include line-height(60, 90);
        }
    }

    @include bem-e('citation') {
        @include font-size(18);

        color: color(accent, cool-dark);

        @media (min-width: $screen-sm-min) {
            @include font-size(21);
        }
    }
}
