/*
 * social
 *
 ************************************************************************************************/

.social {

    @include bem-e('container') { }

    @include bem-e('title') { }

    @include bem-e('list') {
        @include font-size(0);

        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @include bem-e('item') {
        display: inline-block;
        margin: 0 5px !important;
        vertical-align: top;
    }

    @include bem-e('link') {
        display: block;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        background-color: color(accent, warm);
        text-align: center;
        line-height: 42px;
        transition: transform $transition-duration;

        @media (min-width: $screen-xs-min) {

            &:focus,
            &:hover { transform: scale(1.1); }
        }
    }

    @include bem-e('icon') { fill: color(default, white); }
}
