/*
 * sponsors
 *
 ************************************************************************************************/

.list-sponsor-levels {
    @include font-size( 0 );

    @include bem-e( 'item' ) {

        @media (min-width: $screen-sm-min) {
            padding: 0 20px;
            width: 33%;
            vertical-align: top;
        }

        &:first-child { padding-left: 0; }

        &:last-child { padding-right: 0; }
    }

    @include bem-e( 'title' ) {
        @include font-size( 26 );

        color: color(primary);
    }

    @include bem-e('price') {
        @include font-size(32);

        float: right;
        margin-top: -8px;
    }
}
