/*
 * talks and schedule columns
 *
 ************************************************************************************************/

.cols {

    @media (min-width: 900px) {
        display: flex;
        justify-content: flex-start;
    }

    @include bem-m('reverse') {

        .cols__content {

            @media (min-width: 900px) {
                order: 2;
                margin: 0 0 0 ($base-margin * 2);
            }
        }
    }

    @include bem-e('content') {
        padding: 0 20px;

        @media (min-width: 900px) {
            margin: 0 ($base-margin * 2) 0 0;
            padding: 20px;
            width: calc(66.6666666% - 16px);
        }

        *:last-child { margin-bottom: 0; }
    }

    @include bem-e('img') {
        padding: 0 20px;

        @media (min-width: 900px) {
            padding: 20px;
            width: calc(33.333333% - 16px);
        }
    }
}


.schedule {

    @include bem-e('container') { }

    @include bem-e('slot') {
        margin: 0;
        padding: 24px 0;
        border-bottom: 1px solid color(neutral, light);

        @media (min-width: 900px) {
            display: flex;
        }

        &:last-child { border: 0; }
    }

    @include bem-e('time') {
        @include font-size(21);

        font-weight: bold;
        color: color(neutral);

        @media (min-width: 900px) {
            position: absolute;
        }
    }

    @include bem-e('details') {

        @media (min-width: 900px) {
            margin-left: 120px;
        }

        p { margin: 0; }
    }
}
