/*
 * typography elements
 *
 ************************************************************************************************/


/*
 * global typographic treatment
 *
 ****************************************************************************/

html,
body {
    @include font-size($base-font-size);

    // default typeface setup
    line-height: $base-line-height;
    font-family: $base-font;
    color: $text-color;

    // make everything look a little nicer in webkit
    -webkit-font-smoothing: antialiased;

    @media
        only screen and (-webkit-min-device-pixel-ratio: 1.25),
        only screen and ( min-device-pixel-ratio: 1.25),
        only screen and ( min-resolution: 200dpi),
        only screen and ( min-resolution: 1.25dppx) { -webkit-font-smoothing: subpixel-antialiased;
    }
}

/*
 * headers
 *
 ****************************************************************************/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: $base-margin;
    font-family: $brand-font;
}

h1,
.h1 {
    @include font-size(52);

    margin: 0;
    line-height: .75;

    @media (min-width: $screen-sm-min) {
        @include font-size(72);

        line-height: 48px;
    }
}

h2,
.h2 {
    @include font-size(36);

    @media (min-width: $screen-sm-min) {
        @include font-size(60);

        line-height: 1.25;
    }
}

h3,
.h3 {
    @include font-size(32);
    line-height: 1;

    @media (min-width: $screen-sm-min) {
        @include font-size(48);
        @include line-height(48, 36);
    }
}

h4,
.h4 {
    @include font-size(24);
    line-height: 1.25;

    @media (min-width: $screen-sm-min) {
        @include font-size(28);
    }
}

h5,
.h5 {
    @include font-size(18);
    line-height: 1.5;

    @media (min-width: $screen-sm-min) {
        @include font-size(21);
    }
}

h6,
.h6 { }


.lede {
    @include font-size(21);

    @media (min-width: $screen-sm-min) {
        @include font-size(24);
    }
}

.text-sm { @include font-size(16); }

.content__header {
    max-width: $screen-md-min;
    margin-right: auto;
    margin-left: auto;
}


/*
 * basic typographic elements
 *
 ****************************************************************************/

address,
p,
ul,
ol {
    @include font-size(18);
    @include line-height(18, 27);
}

ul,
ol {
    padding-left: $grid-horizontal-padding;

    li {
        list-style-type: none;
        margin-top: $base-margin;
    }
}

.styled-ul {

    li { list-style-image: url('../images/arrow.svg'); }
}

.styled-ol {
    counter-reset: paragraph;

    li {
        position: relative;

        &::before {
            position: absolute;
            left: -$grid-horizontal-padding;
            display: inline-block;
            width: 18px;
            background-color: color(accent, warm-bloody-mary);
            text-align: center;
            color: color(default, white);
            counter-increment: paragraph;
            content: counter(paragraph);
        }
    }
}

.text-notation {
    color: color(accent, cool-dark);
}


// blockquote
blockquote { margin: 0; }

// basic text link
a {
    font-weight: bold;
    color: $btn-background; /* default color */

    &:focus,
    &:hover { text-decoration: none; }

    @media (max-width: $screen-xs-max) {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
    }
}

// address
address { font-style: normal; }

hr {
    margin: 60px auto;
    max-width: 200px;
    height: 3px;
    border-top: 3px solid color(accent, warm-bloody-mary);
}

.img-illustration {
    @include font-size(18);

    margin: $grid-vertical-padding auto 0;
    max-width: 398px;
    font-family: $brand-font;
    font-style: italic;
    text-align: center;
    color: color(neutral);

    @media (min-width: 900px) {
        margin: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p { line-height: 1.25; }
}
