/*
 * mixins
 *
 ************************************************************************************************/


/*
 * define BEM naming conventions
 *
 ****************************************************************************/

// Block Element
// @param {String} $element - Element name
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

// Block Modifier
// @param {String} $modifier - Modifier name
@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

// @alias element
@mixin bem-e($element) {
    @include element($element) {
        @content;
    }
}

// @alias modifier
@mixin bem-m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}


/*
 * typography
 *
 ****************************************************************************/

// font size - unitless - @include font-size(16)
@mixin font-size($font-size: $base-font-size) {
    $rem: ($font-size / $base-font-size);

    font-size: $font-size * 1px;
    font-size: #{$rem}rem;
}

// unitless line height mixin
@mixin line-height($font-size, $line-height: $font-size) {
    line-height: $line-height/$font-size;
}


/*
 * transitions
 *
 ****************************************************************************/

// scale down
@mixin scaleDown($time: 1s) {
    animation: scaleDown $time ease-out 1;
}

@keyframes scaleDown {
    0% { transform: scale(1); }
    50% { transform: scale(.95); };
    100% { transform: scale(1); };
}

// scale up
@mixin scaleUp($time: 1s) {
    animation: scaleUp $time ease-in-out 1;
}

@keyframes scaleUp {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); };
    100% { transform: scale(1); };
}

// fadein
@mixin fadeIn($time: 1s) {
    animation: fadeIn $time ease-out 1;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    to { opacity: 1; };
}

// slide in down and fadein
@mixin slideInDown($time) {
    animation: slideInDown $time ease-in-out;
}

@keyframes slideInDown {
    0% { transform: translateY(-100px); opacity: 0; }
    75% { transform: translateY(0); }
    100% { opacity: 1; }
}

// slide in up and fadein
@mixin slideInUp($time) {
    animation: slideInUp $time ease-in-out;
}

@keyframes slideInUp {
    0% { transform: translateY(100px); opacity: 0; }
    75% { transform: translateY(0); }
    100% { opacity: 1; }
}

// slide in from right and fadein
@keyframes slideInRight {
    0% { transform: translateX(100px); opacity: 0; }
    75% { transform: translateX(0); }
    100% { opacity: 1; }
}

@mixin slideInRight($time) {
    animation: slideInRight $time ease-out backwards;
}

// slide in form left and fadein
@keyframes slideInLeft {
    0% { transform: translateX(-100px); opacity: 0; }
    75% { transform: translateX(0); }
    100% { opacity: 1; }
}

@mixin slideInLeft($time) {
    animation: slideInRight $time ease-out backwards;
}
