@font-face {
  font-family: "Game of Squids";
  src: url("./game-of-squids.ttf") format("truetype");
  src: url("./game-of-squids.otf") format("opentype");
}

:root {
  --color-eggplant: #2e162c;
  --color-egg-shell: #f2f2f2;
  --color-noodle: #f2c48d;
  --color-bloody-mary: #bf212e;
  --color-mint: #34c397;

  --font-family-body: var(--font-family-sans-serif);
  --font-family-heading: var(--font-family-serif);
  --font-family-sans-serif: "Inter", sans-serif;
  --font-family-serif: "Game of Squids", serif;

  --font-size-largest: 3.2rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.25rem;

  --font-weight-base: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-medium: 1.5rem;
  --spacing-width-main: calc(84rem - calc(var(--spacing-medium)) * 2);
  --spacing-width-thin: calc(56rem - calc(var(--spacing-medium)) * 2);

  --box-shadow-base: 0px 1px 1px 0px rgba(0, 0, 0.25, 0.25);
  --text-shadow-base: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
