@font-face {
    font-family: "Game of Squids";
    src: url("./game-of-squids.ttf") format("truetype");
    src: url("./game-of-squids.otf") format("opentype");
  }
  
  :root {
    --color-eggplant: #2E162C;
    --color-egg-shell: #F2F2F2;
    --color-noodle: #F2C48D;
    --color-bloody-mary: #BF212E;
    --color-mint: #34C397;
  
    --font-family-serif: "Game of Squids", serif;
    --font-family-sans-serif: "Inter", monospace;
    --font-weight-base: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
  
    --font-family-heading: var(--font-family-serif);
    --font-family-body: var(--font-family-sans-serif);
  
    --text-shadow-base: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  * {
   margin: 0;
   padding: 0;
  }
  
  /*
  * + * {
    margin-top: 1.5rem;    // Margin between sections 
  } 
*/

/* Global Styles */

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: var(--font-family-serif);
    font-size: 52px; 
    padding-top: 10px;
}

h2 {
    font-size: 30px;
    font-family: var(--font-family-serif);
    padding-top: 3%;
}

h4 {
    font-size: 25px;
    font-family: var(--font-family-sans-serif);
    font-weight: var(--font-weight-semibold);
}

/*h3 {

}

h4 {

}

p {

}
*/

.section__title {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-base);
    color: var(--color-mint);
    text-shadow: var(--text-shadow-base);
}

.section__title--inverted {
    color: var(--color-egg-shell);
  }
  

.section__subtitle {
    color: var(--color-mint);
    
}

.section__subtitle--inverted {
    color: var(--color-egg-shell);
}

.p-text-noodle {
    color: var(--color-noodle);
}

.p-text-eggshell {
    color: var(--color-egg-shell);
}

.p-text-eggplant {
    color: var(--color-eggplant);
    padding-top: 30px;
}

/* End Global Styles */


.site-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
}


/* Hero Section */
#bcp-hero{
    background-color: var(--color-eggplant); 
    height: 650px;
    width: 100%;
 }

 .bcp14-hero {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    background-image: url(../images/bcp14-hero.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Join | About Section */

#join {
    width: 100%;
    height: 500px;
    background-color: var(--color-eggplant);
    align-content: center;
}

.join-text {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 20px;
}

.join-barCamp {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 10px 10px;
}

#about {
    width: 100%;
    height: 850px;
    background-color: var(--color-mint); 
}

.about-text {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 20px;
}

.about-barCamp {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.bcp-synopsis {
    width: 90%;
    padding: 50px auto;
    text-align: left;
    margin-left: 70px;
}

.how-it-works {
    width: 80%;
    margin: 30px auto;
    text-align: left;
}

.give-a-talk {
    width: 80%;
    text-align: left;
    margin: 30px auto;
}

.talk-types {
    width: 80%;
    margin: 30px auto;
    text-align: left;
}

#synopsis {
     margin: 30px auto;
}

/* End Join | About Section */



/* Location Section */

#location {
    width: 100%;
    height: 1200px;
    background-color: var(--color-eggplant); 
}

.bcp-location {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* End Location Section */

/* Registration Section */

#register {
    width: 100%;
    height: 350px;
    background-color: var(--color-mint);
}

.map {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* End Registration Section */

/* Effiency Section */

/* Schedule Section */

/* Sponsor Section */

/* Become Sponsor Section */

/* Organizers Section */

/* Footer Section */


/*Button Styles*/


.btn--register {
    width: 348px; 
    height: 60px; 
    margin: 0 auto;
    position: relative;
    background: var(--color-bloody-mary);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); 
    border-radius: 42px; 
    font-family: 'Inter', sans-serif; 
    color: var(--color-egg-shell); 
    font-weight: var(--font-weight-semibold);
}

.btn--register p {
    position: absolute; 
    text-align: center; 
    margin: 0.8rem 0 0 2.5rem;
    font-size: 23px; 
    padding: 5px 0;
}

/*.btn--register:hover {
    
}

.btn--register:active {

}
*/

.btn {
    width: 290px; 
    height: 54px; 
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); 
    background: var(--color-mint);
    color: var(--color-egg-shell);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 42px;
    text-shadow: var(--text-shadow-base);
    font-weight: var(--font-weight-bold);
}

.btn p {
    position: absolute; 
    text-align: center; 
    margin: 0.6rem 0 0 7rem;
    font-size: 23px; 
    padding: 5px 0;
}


/* End Button Styles */


/* 
--Dane's Merged Styles--

.logo {
  font-family: var(--font-family-heading);
}

.section {
  background: var(--color-eggplant);
  color: var(--color-noodle);
  margin-top: 0;
  padding: 4rem 3rem;
}

.section--inverted {
  background: var(--color-mint);
  color: var(--color-egg-shell);
}

.section--sponsors {
  background: var(--color-bloody-mary);
}


.footer {
  background: var(--color-noodle);
  margin-top: 0;
  padding: 4rem 3rem;
}



*/