@import "global/_variables.scss";
 body {
    margin: 0;
    padding: 0;
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #2E162C; /* $eggplant */
    text-align: left;
    background-color: #F2F2F2;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

/* Global Styles */

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Game Of Squids';
    font-size: 52px; 
    padding-top: 8%;
}

h2 {
    font-size: 30px;
    font-family: 'Game Of Squids';
    padding-top: 3%;
}

h4 {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/*h3 {

}

h4 {

}

p {

}
*/

.title-mint {
    color: #34C397;
   
}

.title-eggshell {
    color: #F2F2F2;
}

.subtitle-mint {
    color: #34C397;
    
}

.subtitle-eggshell {
    color: #F2F2F2;
}

.p-text-noodle {
    color: #F2C48D;
}

.p-text-eggshell {
    color: #F2F2F2;
}

.p-text-eggplant {
    color: #2E162C;
    padding-top: 30px;
}

/* End Global Styles */


.site-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
}


/* Hero Section */
#bcp-hero{
    background-color: #2E162C; /* $eggplant */
    height: 650px;
    width: 100%;
 }

 .bcp14-hero {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    background-image: url(../images/bcp14-hero.png);
    background-repeat: no-repeat;
    background-size: contain;
}


/* Join | About Section */

#join {
    width: 100%;
    height: 500px;
    background-color: #2E162C; /* $eggplant */
    align-content: center;
}

.join-text {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 20px;
}

.join-barCamp {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#about {
    width: 100%;
    height: 850px;
    background-color: #34C397; /* $mint */
}

.about-text {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 20px;
}

.about-barCamp {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: #2E162C; /* $eggplant */
}

.bcp-synopsis {
    width: 90%;
    padding: 50px auto;
    text-align: left;
    margin-left: 70px;
}

.how-it-works {
    width: 80%;
    margin: 30px auto;
    text-align: left;
}

.give-a-talk {
    width: 80%;
    text-align: left;
    margin: 30px auto;
}

.talk-types {
    width: 80%;
    margin: 30px auto;
    text-align: left;
}

#synopsis {
     margin: 30px auto;
}

/* End Join | About Section */



/* Location Section */

#location {
    width: 100%;
    height: 1200px;
    background-color: #2E162C; /* $eggplant */
}

.bcp-location {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* End Location Section */

/* Registration Section */

#register {
    width: 100%;
    height: 350px;
    background-color: #34C397; /* $mint */
}

/* End Registration Section */

/* Effiency Section */

/* Schedule Section */

/* Sponsor Section */

/* Become Sponsor Section */

/* Organizers Section */

/* Footer Section */


/*Button Styles*/
.registration-btn {
    width: 348px; 
    height: 60px; 
    left: 65rem; 
    top: 541px;
    position: relative;
    background: #BF212E; /* $bloody-mary */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); 
    border-radius: 42px; 
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    color: #F2F2F2; /* $egg-shell*/ 
}

.registration-btn2 {
    width: 348px; 
    height: 60px; 
    margin: 0 auto;
    position: relative;
    background: #BF212E; /* $bloody-mary */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); 
    border-radius: 42px; 
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    color: #F2F2F2; /* $egg-shell*/ 
}

.registration-btn p, .registration-btn2 p {
    position: absolute; 
    text-align: center; 
    margin: 0.8rem 0 0 3rem;
    font-size: 23px; 
}

/*.registration-btn:hover {
    
}

.registration-btn:active {

}
*/

.btn-mint {
    width: 290px; 
    height: 54px; 
    margin: 0 auto;
    position: relative;
    background: #34C397; /* $mint */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); 
    border-radius: 42px; 
    font-size: 23px; 
    font-family: 'Inter', sans-serif; 
    font-weight: 500; 
    color: #F2F2F2;
    padding-bottom: 20px;
}

.btn-mint p {
    position: absolute; 
    text-align: center; 
    margin: 0.6rem 0 0 7rem;
    font-size: 23px; 
}
