/* Button */

.button {
  background: var(--color-bloody-mary);
  border-radius: 42px;
  border: none;
  box-shadow: var(--box-shadow-base);
  color: var(--color-egg-shell);
  cursor: pointer;
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  min-width: 10rem;
  padding: 0.75rem 1.5rem;
  text-shadow: var(--text-shadow-base);
  transition: background-color var(--speed-fast);
}

.button:hover {
  background: var(--color-bloody-mary-emphasized);
}

/* Cards */

.card {
  background: var(--color-eggplant);
  border-radius: 2.5rem;
  color: var(--color-egg-shell);
  font-family: var(--font-family-sans-serif);
  padding: 2rem;
  text-align: left;
}

.card-title {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

/* Footer */

.footer {
  background: var(--color-noodle);
  padding: 4rem 3rem;
}

.footer-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
  justify-content: center;
  list-style-type: none;
}

.footer-links__icon {
  height: 5rem;
  width: 5rem;
}

/* Headings */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-heading);
  font-smooth: always;
  text-shadow: var(--text-shadow-large);
  text-transform: uppercase;
}

.heading-primary,
.heading-secondary {
  color: var(--section-color-emphasized);
  font-family: var(--font-family-heading);
}

.heading-primary {
  font-size: var(--font-size-largest);
  font-weight: var(--font-weight-base);
}

.heading-secondary,
.heading-tertiary {
  font-size: var(--font-size-large);
}

.heading-secondary {
  font-weight: var(--font-weight-base);
}

.heading-tertiary {
  color: var(--color-noodle);
}

/* Share Links */

.share-links {
  display: flex;
  gap: 1rem;
}

.share-link {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.share-link-icon {
  height: 1.5rem;
  width: 1.5rem;
}

/* Text & Related */

.anchor-inline {
  text-decoration: underline;
}

.list-body {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  gap: 1rem;
  margin-left: 1rem;
}

.text-body {
  color: var(--section-color-main);
}

.text-body--medium {
  font-size: var(--font-size-medium);
}

.text-body--small {
  font-size: var(--font-size-small);
}

/* Section */

.section {
  background: var(--section-color-background);
  width: 100%;

  --section-color-background: var(--color-eggplant);
  --section-color-emphasized: var(--color-mint);
  --section-color-main: var(--color-noodle);
}

.section--alternate {
  --section-color-background: var(--color-bloody-mary);
  --section-color-emphasized: var(--color-egg-shell);
  --section-color-main: var(--color-egg-shell);
}

.section--inverted {
  --section-color-background: var(--color-mint);
  --section-color-emphasized: var(--color-egg-shell);
  --section-color-main: var(--color-eggplant);
}

.section-contents {
  display: flex;
  gap: 2rem;
  height: 100%;
  margin: auto;
  max-width: var(--spacing-width-main);
  padding: calc(var(--spacing-medium) * 2) var(--spacing-medium);
  position: relative;
  width: 100%;
}

/* Schedule */

.schedule {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

.schedule-item {
  gap: 2rem;
  text-align: left;
}

.heading-tertiary--schedule-item {
  display: contents;
}

.schedule-window {
  text-transform: uppercase;
}

.schedule-heading {
  padding-bottom: 1rem;
}

.schedule-details {
  color: var(--color-egg-shell);
}

.schedule-slots {
  color: var(--color-noodle);
  font-size: var(--font-size-medium);
  list-style-type: none;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding: 0 0 1rem 0;
}

@media (min-width: 700px) {
  .schedule {
    gap: 5rem;
  }

  .schedule-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }

  .schedule-window {
    grid-area: 1 / 1 / 2 / 2;
  }

  .schedule-heading {
    grid-area: 1 / 2 / 2 / 3;
  }

  .schedule-details {
    grid-area: 2 / 2 / 3 / 3;
  }
}

/* Trifold */

.trifold {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 700px) {
  .trifold {
    flex-direction: row;
  }
}

.trifold-fold {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.trifold-fold--dashed {
  border: 4px dashed var(--color-mint);
  padding: 1rem;
}

.trifold-icon {
  height: 4rem;
  width: 4rem;
}

/* Navigation */

.menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 2rem;
  position: fixed;
  top: 40%;
  z-index: 2;

  --circle-size: 1.5rem;
}

.menu-item {
  align-items: center;
  color: transparent;
  display: inline-flex;
  opacity: 0.75;
  position: relative;
  width: fit-content;
}

.menu-item::before {
  background-color: var(--color-egg-shell);
  border-radius: var(--circle-size);
  border: 1px solid var(--color-eggplant);
  box-shadow: var(--box-shadow-base);
  content: "";
  display: inline-block;
  height: var(--circle-size);
  position: absolute;
  transition: background-color var(--speed-slow), width var(--speed-medium);
  width: var(--circle-size);
}

.menu-item-contents {
  font-size: var(--font-size-small);
  opacity: 0;
  padding: 0 calc(var(--circle-size) / 2);
  transition: color var(--speed-medium) var(--speed-fast),
    opacity var(--speed-medium);
  z-index: 1;
}

.menu-item:is(:focus, :hover)::before {
  background-color: var(--color-mint);
  width: 100%;
}

.menu-item:is(:focus, :hover) .menu-item-contents {
  color: var(--color-eggplant);
  opacity: 1;
}

.menu-item-spacer::after,
.menu-item-spacer::before,
.menu-item-spacer {
  position: relative;
  display: block;
  border-radius: 100%;
  background: var(--color-eggplant);
}

.menu-item-spacer {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 9px;
}

.menu-item-spacer::after,
.menu-item-spacer::before {
  content: "";
  height: 0.25rem;
  margin-left: 2px;
  width: 0.25rem;
}

.menu-item-spacer::after {
  margin-top: 1rem;
}

.menu-item-spacer::before {
  margin-top: -0.5rem;
}
