/* Hero Section */

.section--hero {
  aspect-ratio: 1440 / 650;
  background-image: url(../images/bcp14-hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.section--hero--button-primary {
  position: absolute;
  right: var(--spacing-medium);
  bottom: var(--spacing-medium);
}

/* Explainer Section */

.section-contents--explainer {
  align-items: center;
  flex-direction: column;
}

/* About Section */

.section-contents--about {
  flex-direction: column;
}

/* Map Pseudo-Section */

.map {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card--map {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 1rem 0;
}

/* Location Section */

.section-contents--location {
  flex-direction: column;
}

/* Nearby Pseudo-Section */

.nearby {
  border-top: 4px dashed var(--color-mint);
  color: var(--color-egg-shell);
  background: var(--color-eggplant);
  padding: min(0, 1rem);
  text-align: center;
  border-bottom: 100px solid var(--color-eggplant);
  display: flex;
  flex-direction: column;
}


/* Register Section */

.section--register {
  aspect-ratio: 1440 / 420;
  background-image: url(../images/registration-banner-10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  min-height: 10rem;
  justify-content: center;
  padding-bottom: var(--spacing-medium);
}

.section--register--button-primary {
  padding-left: 7rem;
  padding-right: 7rem;
}

/* Efficiency Section */

.section-contents--efficiency {
  flex-direction: column;
}

/* Schedule Section */

.section-contents--schedule {
  flex-direction: column;
  text-align: center;
}

.heading-secondary--schedule {
  margin: 1rem 0;
}

/* Sponsors Section */

.section--sponsors {
  text-align: center;
}

.section-contents--sponsors {
  flex-direction: column;
}

.sponsor-group {
  background: var(--color-noodle);
  padding: 0.5rem 0 0.5rem 0;
}

.sponsor-group-title {
  background: var(--color-bloody-mary);
  padding: 0.5rem;
  margin: 0 0 1rem 0;
}

/* Become A Sponsor Section */

.section-contents--become-a-sponsor {
  flex-direction: column;
  text-align: center;
}

.become-a-sponsor-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0;
}

/* Organizers Section */

.section-contents--organizers {
  flex-direction: column;
}

.organizers-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.organizers-right {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  flex-wrap: wrap;
}

.organizer {
  display: flex;
  gap: 0.5rem;
  min-width: 17rem;
  text-shadow: var(--text-shadow-base);
  width: 50%;
}

.organizer-photo {
  width: 7rem;
  background: white;
  height: 7rem;
  border-radius: 100%;
}

.organizer-details {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.organizer-name {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-medium);
  text-transform: uppercase;
  color: var(--color-egg-shell);
}

@media (min-width: 900px) {
  .section-contents--organizers {
    flex-direction: row;
  }

  .organizers-left {
    justify-content: center;
    width: 40%;
  }

  .organizers-right {
    width: 60%;
    flex-wrap: wrap;
  }

  .organizer {
    min-width: initial;
    width: calc(50% - 1rem);
  }
}

/* Responsive Images for Sponsor Logos */
.responsive {
  max-width: 100%;
  height: auto;
  border: 0;
}