/*
 * Vertex Inc - Website - Full Site CSS Build
 *
 ************************************************************************************************/

/*
 * global
 *
 ****************************************************************************/

@import "global/functions";
@import "global/variables";
@import "global/mixins";
@import "global/base";
@import "global/fonts";


/*
 * vendor
 *
 ****************************************************************************/

// browser
@import "vendor/normalize-8.0.0";


/*
 * partial
 *
 ****************************************************************************/

// elements
@import "partial/utility";
@import "partial/grid";
@import "partial/typography";
@import "partial/iconography"; // Gulp generated asset
@import "partial/buttons";
@import "partial/cta";
@import "partial/lists";
// @import "partial/images";

// component
@import "partial/global-footer";
@import "partial/teaser";
@import "partial/social";
@import "partial/sponsors";
@import "partial/organizers";
@import "partial/quote";
@import "partial/accordion";
@import "partial/logo";
@import "partial/talks";

// pages



/*
 * print reset styles
 * inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 *
 ****************************************************************************/

@media print {
    *,
    *::before,
    *::after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited { text-decoration: underline; }

    a[href]::after { content: " (" attr(href) ")"; }

    abbr[title]::after { content: " (" attr(title) ")"; }

    // Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol
    a[href^="#"]::after,
    a[href^="javascript:"]::after { content: ""; }

    pre { white-space: pre-wrap !important; }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    // Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables
    thead { display: table-header-group; }

    tr,
    img { page-break-inside: avoid; }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 { page-break-after: avoid; }
}
